RewriteEngine on

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
Options -Indexes

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

RewriteBase /admin/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?qs=$1 [L,QSA]